<footer id="footer">
	<div class="wrapper">
		<div class="row pb-14">
		  <div class="columns p-0 medium-9">
		    <ul class="logos pt-14">
		    	<li>
				  	<img src="assets/img/sida.png" alt="">
		    	</li>
		    	<li>
			    	<img src="assets/img/ue.svg" alt="">
		    	</li>
		    	<li>
			    	<img src="assets/img/fa_ned.jpg" alt="">
		    	</li>
			  </ul>  
		  </div>
	    <div class="columns apc-logo medium-3">
			  <img src="assets/img/APC.jpg" alt="">
	    </div>
		</div>
    <p class="tiny text-justify">This kit has been developed with support from the Swedish International Development Cooperation Agency (Sida), the European Union under the European Instrument for Democracy and Human Rights (EIDHR) and the Dutch Ministry of Foreign Affairs (DGIS).</p>
	</div>
</footer>