<header class="site-header clearfix">
  <div class="cyr">
    <a class="" href="{{ site.baseurl }}/"><img src="assets/img/cyr_1.png" alt=""></a>
  </div>
  <div class="languages">
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
    {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a> {% endfor %}

    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
    {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }} neutral">{{ page.long_lang }}&nbsp;</a> {% endfor %}
  </div>
</header>
