.mobile-body {
	.row {
		&:nth-child(even) {
			background: #eee;
		}
		position: relative;
		height: rem-calc(90);
		.columns {
			top: 50%;
	    position: relative;
	    transform: translateY(-50%);
	    a.neutral {
	    	display: inline-block;
	    	font-size: 0.9rem;
	    	line-height: 1rem;
	    }
		}
	}
}