#svg-main {
  height: 200px;
  width: 200px;
}

.bottom {
  height: 200px;
  width: 200px;
  &#kmimos-case {
    background-color: $kmimos;
  }
  &#coders-case {
    background-color: $coders;
  }
  &#upgrade-case {
    background-color: $upgrade;
  }
}

#sam-case {
  background-color: $sam;
}

#fpis-case {
  background-color: #FF8B64;
}

#alerta-lima-case {
  background-color: $alerta-lima;
  padding-top: 21%;
  padding-right: 7%;
}

#cinema-case {
  background-color: #4B77BE;
}

#netposi-case {
  background-color: #03A678;
}

#kmimos-case {
  padding-top: 30%;
  padding-left: 0%;
}

#coders-case {
  padding-top: 30%;
  padding-left: 5%;
}

#upgrade-case {
  padding-top: 30%;
  padding-left: 5%;
}

.top {
  height: 200px;
  width: 200px;
  cursor: pointer;
}


.svg-animation {
  position:relative;
  height:200px;
  width:200px;
  margin:0 auto;
}

.svg-animation img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.svg-animation img.top:hover {
  opacity:0;
}


svg *{
    fill:none;
    stroke:none;
       
}

.draw *{
    stroke:white;
    stroke-width:3px;
    -webkit-animation: self-draw 1s ease-in;
    -moz-animation: self-draw 1s ease-in;
    -o-animation: self-draw 1s ease-in;
    animation: self-draw 1s ease-in;
    stroke-dasharray: 120% 150%;
}

.draw1 *{
    stroke:white;
    stroke-width:2px;
    -webkit-animation: self-draw 1s ease-in;
    -moz-animation: self-draw 1s ease-in;
    -o-animation: self-draw 1s ease-in;
    animation: self-draw 1s ease-in;
    stroke-dasharray: 120% 150%;
}

.draw0 *{
    stroke:white;
    stroke-width:1px;
    -webkit-animation: self-draw 1s ease-in;
    -moz-animation: self-draw 1s ease-in;
    -o-animation: self-draw 1s ease-in;
    animation: self-draw 1s ease-in;
    stroke-dasharray: 120% 150%;
}

.draws *{
    stroke:white;
    stroke-width:1px;
    -webkit-animation: self-draw 2s ease-in;
    -moz-animation: self-draw 2s ease-in;
    -o-animation: self-draw 2s ease-in;
    animation: self-draw 2s ease-in;
    stroke-dasharray: 120% 150%;
}

@-webkit-keyframes self-draw{
    0%   { stroke-dashoffset: 120% }
    100% { stroke-dashoffset: 0% }
}

@-moz-keyframes self-draw{
    0%   { stroke-dashoffset: 120% }
    100% { stroke-dashoffset: 0% }
}

@-o-keyframes self-draw{
    0%   { stroke-dashoffset: 120% }
    100% { stroke-dashoffset: 0% }
}

@keyframes self-draw{
    0%   { stroke-dashoffset: 120% }
    100% { stroke-dashoffset: 0% }
}

// "My work" mobile
#my-work {
  background-color: #f9f9f8;
  i.fa-heart {
    color: #E26A6A;
  }
  ul li {
    img {
      width: 200px;
      height: 200px;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}