.project {
	padding-top: rem-calc(49);
	padding-bottom: rem-calc(49);
	.featured-img {
		padding-top: rem-calc(14);
	  text-align: center;
		img {
			max-height: 560px;
		}
	}
	ul.project-ul {
		padding-left: rem-calc(7);
		margin-bottom: 0;
		list-style-type: none;
		li {
			text-indent: -1.4em;
			&:before {
				font-family: 'FontAwesome';
				content: "\f14a";
				float: left;
				width: 1.4em;
				color: $sam;
			}
		}
	}
	.project-content {
		padding-top: rem-calc(7);
		@media only screen and (max-width: 768px) {
			padding: rem-calc(28) rem-calc(14);
		}
	}
	.project-insights {
		.project-slider {
			.flex-viewport {
				background: #52B3D9;
			}
    	border: 4px solid #52B3D9;
			.flex-direction-nav {
				display: none;
			}
			ol img {
				height: 100px;
			}
		}
	}
}