#svgContainer { 
	z-index: -10;
	position:absolute;
	// left: 100px;
	top: 20px;
}

#outer{
	height: 100vh;
	top: 20px;
	// left: 100px;
	position: relative;
}

// #svg1 {
//   height: 100vh;
// }

#kit-intro {
  position: absolute;
  width: 16em;
  height: 14em;
  left: 31%;
}

#kit {
  width: 16em;
  height: 12em;
  background-image: url('../assets/img/kit_white_border.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  &:hover, &.kit-highlight {
    background-image: url('../assets/img/kit_red_border.png');
  }
}

#intro {
  font-weight: bold;
}

.item {
 	position: absolute;
	width: 6.5em;
 	height: 6em;
  &.wide {
    figcaption {
      width: 160%;
      margin-left: -25%;
    }
  }
 	figure {
    a {
      &:hover figcaption {
  			background-color: $custom-black;
  			color: white;
      }
      figcaption {
        background-color: $gray-lighter;
        border-radius: 5px;
        line-height: 1.2;
        padding: rem-calc(7);
        text-align: center;
        cursor: pointer;
        &.highlight {
          background-color: $custom-black;
          color: white;
        }
   		}
    }
 	}
}

// Left
@for $h from 1 to 12 {
  .left-#{$h} {
    left: ($h/12)*100 + %;
  }
}
$i: 1.5;
@while $i < 12 {
  .left-#{str-replace(to-string($i),'.','-')} {
    left: ($i/12)*100 + %;
  }
  $i: $i + 1;
}
// Top
@for $h from 1 to 12 {
  .top-#{$h} {
    top: ($h/12)*100 + %;
  }
}
$i: 1.5;
@while $i < 12 {
  .top-#{str-replace(to-string($i),'.','-')} {
    top: ($i/12)*100 + %;
  }
  $i: $i + 1;
}