//causes begins
#causes {
	#main-slider {
		border: none !important;
		box-shadow: none !important;
		border-radius: 0px !important;
		.flex-direction-nav a {
			z-index: 0;
			&:before {
				font-size: 1.3rem;
				color: $custom-black;
			}
		}
		.flex-next, .flex-prev {
			opacity: 1 !important;
			color: white !important;
		}
		li {
			z-index: 0 !important;
		}
	}
	div.medium-4{
		padding: 1em;
		>div {
			padding: 1em;
			box-shadow: 0 0 2px 0 rgba(0,0,0,0.16) , 2px 0 2px 0 rgba(0,0,0,0.16) , 0 2px 2px 0 rgba(0,0,0,0.23);
			border-top: 4px solid black;
			@media only screen and (min-width : 600px) {
				min-height: 330px;
			}
			text-align: justify;
			padding-bottom: 1.6em;
			position: relative;
			p {
				font-size: 0.9rem;
			}
			small {
				display: block;
				font-size: 0.8rem;
			}
			.tags {
				position: absolute;
    		bottom: 3px;
    		// height: 27px;
			}
		}
	}
}