<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper post-item">
        <h4 class="mb-14">{{ page.description }}</h4 class="mb-14">
        <div class="mb-14 featured-image text-center">
          <img src="{{site.baseurl}}/assets/img/{{page.icon}}" alt="">
        </div>
        <h5>{{page.title}}</h5>
        {{ content }}
      </div>
    </div>

    {% include footer_no_scripts.html %}
    {% include footer.html %}

  </body>

</html>